<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %>
</head>
<body>
    <header>
    <%- include('../../layouts/header') %>
    </header>
    <main>
      <h2>Search Results</h2>
      <%- include('../../layouts/details') %>  
    </main>
    <footer>

    </footer>
</body>
</html>