html {
  display: grid;
  grid-template: 1fr / 1fr;
}

body {
  display: grid;
  grid-template: auto auto 1fr / 1fr;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  line-height: 15vh;
  display: grid;
  grid-template: 1fr / auto auto 1fr;
}

header h1 {
  margin-left: 4vw;
  grid-column: 1 / 2;
}

header a {
  margin-left: 2vw;
  grid-column: 2 / 3;
}

main {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  display: grid;
  grid-template: auto 1fr / 10% 1fr 10%;
}

main h2 {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: center;
  width: 100%;
  line-height: 10.5vh;
}

#searchForm {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template: 11.5vh 5vh 11.5vh 5vh 11.5vh 5vh 11.5vh / 1fr;
  margin: 7vh 0;
}

main .container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.container .book {
  display: grid;
  grid-template: 4vh auto 2vh auto 2vh auto 2vh auto 4vh / 10% 1fr 10%;
  margin: 5vh 4vw;
}

.container #updateBook {
  display: grid;
  grid-template: 4vh auto 2vh auto 2vh auto 2vh auto 2vh auto 4vh / 10% 1fr 3fr 10%;
  margin: 0;
}

#updateBook label {
  grid-column: 2 / 3;
}

#updateBook input, #updateBook textArea {
  grid-column: 3 / 4;
}

#updateBook [name='image_link'] {
  grid-row: 2 / 3;
}

#updateBook [name='title'] {
  grid-row: 4 / 5;
}

#updateBook [name='authors'] {
  grid-row: 6 / 7;
}

#updateBook [name='description'] {
  grid-row: 8 / 9;
}

#updateBook input[name='updateBook']{
  grid-row: 10 / 11;
  grid-column: 2 / 4;
}

#updateBook a {
  grid-row: 11 / 12;
  grid-column: 2 / 4;
}

.book img {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.book h3, .book a {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

#addBook, #addBook input[type='submit'] {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}

#getUpdateBook, #getUpdateBook input {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
}

input[type='submit'] {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2vh 2vw;
  line-height: 6vh;
}

input[name='id'] {
  display: none;
}

form input, form label {
  line-height: 11vh;
  padding-left: 1vw;
}

form input[type='radio'] {
  margin-left: 5vw;
  width: 3vw;
  height: 3vh;
  line-height: 11vh;
}

form .searchField {
  grid-row: 1 / 2;
}

form .title {
  grid-row: 3 / 4;
}

form .author {
  grid-row: 5 / 6;
}

form .submit {
  grid-row: 7 / 8;
}

.book #updateBook, .book #updateBook input {
  grid-row: 12 / 13;
}
