body {
    background: #999999;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    font-weight: bold;
    background: black;
}

header h1 a {
    font-size: 2em;
}

header a {
    font-size: 1em;
}

h2 {
    color: white;
    font-size: 2em;
    background-color: #444444;
}

form input, form label {
    border-radius: 0.2em;
    font-size: 1.7em;
}

form .title, form .author {
    background: #CCCCCC;
}

form .submit {
    background: black;
    color: white;
}

.container .book {
    background: #CCCCCC;
}

#addBook input[type='submit'] {
    font-size: 1.2em;
}

.book img, .book h3, .book h4, .book p {
    background: #CCCCCC;
}

.book img {
    border: 1.5vh white solid;
}

.book h3 {
    text-align: center;
}

.book h4 {
    text-align: center;
}
